<%= simple_form_for @question, :html => { :class => 'form-horizontal' } do |f| %>


  <%= f.input :title %>
  <%= f.input :content, input_html: {rows: 15} %>
  <%= f.input :tag_list %>
  <%-# @question.owner_username %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questions_path, :class => 'btn' %>
  </div>
<% end %>
