<%- model_class = Question -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="8%">vote</th>
      <th width="8%">answers</th>
      <th width="8%">views</th>
      <th width="50%">preview</th>
      <th width='30%'><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody class='qlist-wrapper'>
    <% @questions.each do |question| %>
      <tr>
        <td class='votes'>
            <div class='mini-counts'>1</div>
            <div>vote</div>
        </td>
        <td class='answers answered-accepted'>
          <div class='<%='no-' if question.answers.count==0%>answers-box'>
               <div class='mini-counts'><%= question.answers.count %></div>
              <div>answers</div>
          </div>

        </td>
        <td class='views'>
          <div class='mini-counts'><%= question.viewed_count %></div>
          <div>views</div>
        </td>
        <td class='summary'>
          <h3><%= link_to question.title, question_path(question), title:(question.title+'
'+question.content)%></h3>
          <div class='tags'>
            <%= raw question.tag_list.map { |t| link_to t, tag_path(t), class:'post-tag' }.join(', ') %>
          </div>
          </td>
        <td class='status'>
            <%= render_status question%> 
        </td>
        <td></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_question_path(question), :class => 'btn btn-mini' if can? :update, question %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), question_path(question),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' if can? :destroy, question %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @questions %>

