<div class="row">
  <div class="span9"><h2><%= @question.title %></h2></div>
</div>

<div class="row">
  <div class="span9 pull-right" style="margin-top=10px;margin-bottom:10px;"><%= render_status_answer @question%></div>
</div>

<div class="row">
  <div class="span1">
      <%= button_to 'good',evaluate_questions_path(question_id: @question.id , score: 1), {class: 'btn btn-small'}%>
      <%= button_to 'bad',evaluate_questions_path(question_id: @question.id , score: 0), {class: 'btn btn-small'}%>
  </div>

  <div class="span8">
      <%= @question.content %>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_question_path(@question), :class => 'btn' if can? :update, @question %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              question_path(@question),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if can? :destroy, @question %>
</div>

<%= render "answers/answers", :question => @question%>
<% unless exist_any_accept_answer? @question.answers%>
  <% if can? :create, Answer -%>
    <%= render "answers/form" %>
  <% end -%>
<% end %>

<script type="text/javascript">
  function ajaxdeplay(){
    $.ajax({
      url: 'viewed',
      type: 'post',
      data: 'question=<%= @question.id %>'
    });
  }
  
  //延迟10秒
  setTimeout('ajaxdeplay()',10000);
</script>
