<div class="row">
  <div class="span9"><h2><%= @question.title %></h2></div>
</div>

<div class="row">
  <div class="span9 pull-right" style="margin-top=10px;margin-bottom:10px;"><%= render_status_answer @question%></div>
</div>

<div class="row">
  <div class="span1">
      <%= button_to 'good',evaluate_questions_path(question_id: @question.id , score: 1), {class: 'btn btn-small'}%>
      <%= button_to 'bad',evaluate_questions_path(question_id: @question.id , score: 0), {class: 'btn btn-small'}%>
  </div>

  <div class="span8">
    <%= @question.content %>
  </div>
  <%= @question.closed %>
</div>

<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_question_path(@question), :class => 'btn' if can? :update, @question %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              question_path(@question),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if can? :destroy, @question %>
  <a href="#myModal" role="button" class="btn btn-warning" data-toggle="modal">关闭问题</a>
</div>

<%= render "answers/answers", :question => @question%>
<% unless exist_any_accept_answer? @question.answers%>
  <% if can? :create, Answer -%>
    <%= render "answers/form" %>
  <% end -%>
<% end %>

<% if (!@question.closed) && (can? :closed, @question) -%>
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">关闭问题</h3>
    </div>
    <%= simple_form_for(@question, :method => 'post', :url => closed_question_path(@question)) do |f| %>
      <div class="modal-body">
        <%= f.input :close_reason, input_html: {rows: 10, class: 'span5'} %>
      </div>
      <div class="modal-footer">
        <%= f.submit '关闭提问', :class => 'btn btn-warning' %>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
      </div>
    <% end %>
  </div>
<% end -%>

<script type="text/javascript">
  function ajaxdeplay(){
    $.ajax({
      url: 'viewed',
      type: 'post',
      data: 'question=<%= @question.id %>'
    });
  }
  
  //延迟10秒
  setTimeout('ajaxdeplay()',10000);
</script>
