<%= form_for [@question, @answer] do |f| %>
  <% if @answer.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span8"><h5><%= t 'your_answer'%></h5></div>
  </div>
  <div class="field">
    <%= f.text_area :content, {rows: 15, class: 'span6'} %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn  btn-primary'%>
  </div>
<% end %>

