<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @tag.title %>
</p>

<p>
  <b>Content:</b>
  <%= @tag.content %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
