<ul class="nav pull-right" id="userbar">
  <%=link_to raw("<span>#{current_user.unread_messages.count}</span>"), messages_path,
     :class=>"message-#{current_user.unread_messages.size==0 ? 'box':'notice'}" if user_signed_in?
  %>
  <li class="dropdown" id="user_menu">
    <% if user_signed_in? %>
      <a href="#user_menu" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag current_user.image, class: "img-rounded" %> <%= current_user.username %>
        <b class='caret'></b>
      </a>
      <ul class="dropdown-menu">
      <li><%= link_to t('edit_profile'), edit_user_registration_path %></li>
      <li><%= link_to t('logout'), destroy_user_session_path, method: :delete %></lia>
      </ul>
    <% else %>
      <li><%= link_to t('sign_up'), new_user_registration_path %></li>
      <li><%= link_to t('login'), new_user_session_path %></li>
    <% end %>
  </li>
</ul>
